* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: $font-family !important;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
  background: $bg-color;
  color: $bg-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  &:has(.burger-menu.active) {
    height: 100vh;
    overflow: hidden;
  }
}
.hidden {
  overflow: hidden;
}
a {
  display: block;
  text-decoration: none !important;
  cursor: pointer;
  color: var(--Black);
}

img {
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

ul,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

.title {
  font-weight: 500;
  font-size: get-d(65px);
  line-height: 90%;
  @include respond(lg) {
    font-size: get-lg(40px);
  }
  @include respond(md) {
    font-size: 32px;
  }
}

.paragraph {
  font-weight: 500;
  font-size: get-d(16px);
  line-height: 120%;
  @include respond(lg) {
    font-size: get-lg(16px);
  }
  @include respond(md) {
    font-size: 14px;
  }
}
