// :root {
//   --green-green: #219c35;
//   --green-green-hover: #005c0f;
//   --green-hover-green: #48c35c;
//   --green-gray-green: #bbf0c4;
//   --green-light-green: #e8ffeb;
//   --blue-dark-blue: #202b4f;
//   --blue-bg-blue: #6d78a4;
//   --blue-elements-blue: #9faad1;
//   --blue-light-blue: #f4f8fb;
//   --Black: #2d2d2d;
//   --Dark-Gray: #b6b6b6;
//   --Light-Gray: #e9e9e9;
//   --White: #fff;
//   --Error: #f00;
//   --Yellow: #f8d207;
//   --First-place-stars: #ff8617;
//   --header-height: 470px;
//   -webkit-transition: all 0.3s ease-in-out;
//   transition: all 0.3s ease-in-out;
// }

$bg-color: #F7F1E0;

$bg-grey: #302F34;

$bg-yellow: #FDC41F;