.confirmation-body {
  max-height: 75vh;
  overflow-y: auto;
  @media screen and (max-width: 768px) {
    max-height: 90vh;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(253, 196, 31, 0.7);
    border-radius: 10px;
  }
  .summary-title {
    color: var(--black, #302f34);
    font-size: 24px;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.72px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .booking-summary-box {
    gap: 16px;
    @media screen and (max-width: 768px) {
      max-height: calc(100vh - 200px) !important;
    }
  }
}

.confirmation-success {
  display: flex;
  padding: 25px;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
  @media screen and (max-width: 768px) {
    margin: 0 0 10px 0;
  }
}
.confirmation-success-icon {
  display: flex;
  width: 85px;
  height: 85px;
  padding: 25px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 50%;
  background: #fdc41f;
  svg {
    width: 31px;
    height: 31px;
  }
  @media screen and (max-width: 768px) {
    width: 57px;
    height: 57px;
    padding: 0;
    svg {
      width: 23px;
      height: 23px;
    }
  }
}
.confirmation-message {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.72px;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.confirm .step-actions {
  display: flex;
  gap: 10px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  .btn {
    font-size: 14px;
    font-weight: 500;
    padding: 10px !important;
    height: 50px !important;
    &::before {
      display: none;
    }
  }
}
