.booking-step[data-step="datetime"] {
  .datetime-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    overflow-y: auto;
    max-height: 55vh;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(253, 196, 31, 0.7);
      border-radius: 10px;
    }
    @media screen and (max-width: 768px) {
      max-height: 80vh;
    }
    .date-selector {
      border-radius: 16px;
      background: rgba(255, 255, 255, 0.75);
      padding: 30px;
      flex: 1;
      height: 100%;
      max-width: 505px;

      .month-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        margin-bottom: 12px;

        .current-month {
          color: var(--black, #302f34);
          font-size: 24px;
          font-weight: 700;
          line-height: normal;
        }

        button {
          background: transparent;
          border: none;
          cursor: pointer;
        }
      }

      .weekdays {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        div {
          text-align: center;
          padding: 20px;
          color: var(--black, #302f34);
          font-variant-numeric: lining-nums tabular-nums;
          font-size: 14px;
          font-weight: 600;
          line-height: normal;
        }
      }

      .calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
      }

      .calendar-day {
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 16px;
        color: #302f34;
        border: 1px solid #e0e0e0;
        border-radius: 0;
        background: #fff;
        cursor: pointer;
        transition: background 0.2s ease;

        &.today {
          border: 1px solid var(--Stroke, #fdc41f);
        }

        &.selected {
          border: 1px solid var(--Stroke, #d5d4df);
          background: var(--yellow, #fdc41f);
          color: #ffffff;
        }

        &.disabled {
          border: 1px solid #d5d4df;
          background: #f1f1f1;
          cursor: not-allowed;
        }

        // &.empty {
        //   visibility: hidden;
        // }
      }
    }

    .time-selector {
      display: flex;
      width: 314px;
      padding: 25px;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;
      align-self: stretch;
      width: 38%;
      height: 100%;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.75);
      .time-sections {
        display: flex;
        flex-direction: column;
        gap: 36px;
      }
      .time-group-title {
        font-size: 20px;
        font-weight: 600;
        color: #302f34;
        margin-bottom: 9px;
      }

      .time-slot-list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .time-slot {
          background: #f7f1e0;
          color: #302f34;
          border-radius: 50px;
          padding: 10px 20px;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;

          &.selected {
            background: #fdc41f;
            color: #fff;
          }

          &.disabled {
            opacity: 0.4;
            cursor: not-allowed;
          }
        }
      }
    }
  }

  .step-actions {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .booking-step[data-step="datetime"] {
    .datetime-container {
      flex-direction: column;

      .date-selector,
      .time-selector {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        border-radius: 12px;
      }

      .weekdays div {
        padding: 10px 0 !important;
      }

      .calendar-day {
        font-size: 14px;
        aspect-ratio: 1 / 1;
        padding: 7px;
      }

      .time-selector {
        gap: 24px;

        .time-group-title {
          font-size: 15px;
          margin-bottom: 6px;
        }

        .time-slots {
          .time-slot {
            padding: 6px 14px;
            font-size: 13px;
          }
        }
      }
    }

    .step-actions {
      .next-btn {
        width: 100%;
        max-width: 360px;
      }
    }
  }
}
