.hero-section {
  &__top {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: flex-end;
    padding: get-d(40px) get-d(60px);
    @include respond(lg) {
      padding: get-lg(40px) get-lg(60px);
    }
    @include respond(md) {
      padding: 0 25px 16px 25px;
      grid-template-columns: 1fr;
    }
  }
  &__buttons {
    display: flex;
    @include respond(md) {
      margin-top: 12px;
    }
  }
}

.hero-swiper {
  width: 100%;
  height: get-d(610px);
  position: relative;
  @include respond(lg) {
    height: get-lg(610px);
  }
  @include respond(md) {
    height: 520px;
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & .button {
    position: absolute;
    width: get-d(40px);
    height: get-d(40px);
    top: 50%;
    transform: translateY(-50%);
    background: url("../svg/arrows.svg") center / cover no-repeat;
    z-index: 1;
    @include respond(lg) {
      width: get-lg(40px);
      height: get-lg(40px);
    }
    @include respond(md) {
      width: 32px;
      height: 32px;
    }
    &.swiper-button-next {
      right: get-d(20px);
      transform: translateY(-50%) rotate(180deg);
      @include respond(lg) {
        right: get-lg(20px);
      }
      @include respond(md) {
        right: 10px;
      }
    }
    &.swiper-button-prev {
      left: get-d(20px);
      @include respond(lg) {
        left: get-lg(20px);
      }
      @include respond(md) {
        left: 10px;
      }
    }
  }
  & .swiper-pagination {
    & .swiper-pagination-bullet {
      background: #f7f1e0;
      width: get-d(10px);
      height: get-d(10px);
      opacity: 1;
      transition: background 0.5s;
      @include respond(lg) {
        width: get-lg(10px);
        height: get-lg(10px);
      }
      @include respond(md) {
        width: 8px;
        height: 8px;
      }
      &.swiper-pagination-bullet-active {
        background: $bg-yellow;
      }
    }
  }
}

.reasons-section {
  padding: get-d(150px) get-d(60px) get-d(75px) get-d(60px);
  @include respond(lg) {
    padding: get-lg(150px) get-lg(60px) get-lg(75px) get-lg(60px);
  }
  @include respond(md) {
    padding: 75px 25px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: get-d(20px);
    grid-auto-rows: 1fr;
    margin-top: get-d(30px);
    @include respond(lg) {
      grid-gap: get-lg(20px);
      margin-top: get-lg(30px);
    }
    @include respond(md) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      margin-top: 28px;
    }
    & .item {
      background: #ffffffbf;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: get-d(16px);
      border-radius: get-d(10px);
      padding-bottom: get-d(30px);
      @include respond(lg) {
        gap: get-lg(16px);
        padding-bottom: get-lg(30px);
        border-radius: get-lg(10px);
      }
      @include respond(md) {
        gap: 0;
        padding-bottom: 20px;
        border-radius: 6px;
        height: 145px;
        justify-content: center;
      }
      & img {
        aspect-ratio: 1 / 1;
        width: get-d(126px);
        @include respond(lg) {
          width: get-lg(126px);
        }
        @include respond(md) {
          width: 80px;
        }
      }
      & span {
        font-weight: 500;
        font-size: get-d(24px);
        line-height: 120%;
        text-align: center;
        max-width: get-d(250px);
        @include respond(lg) {
          font-size: get-lg(24px);
          max-width: get-lg(250px);
        }
        @include respond(md) {
          font-size: 12px;
          max-width: 200px;
        }
      }
    }
  }
}

.contact-section {
  padding: get-d(150px) get-d(60px);
  @include respond(lg) {
    padding: get-lg(150px) get-lg(60px);
  }
  @include respond(md) {
    padding: 75px 25px;
  }
  & .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include respond(lg) {
      grid-template-columns: 1fr;
      grid-gap: get-lg(32px);
    }
    @include respond(md) {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
  &__text {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: get-d(16px);
    @include respond(lg) {
      gap: get-lg(16px);
    }
    @include respond(md) {
      gap: 10px;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: get-d(36px) get-d(10px);
    @include respond(lg) {
      grid-gap: get-lg(36px) get-lg(10px);
    }
    @include respond(md) {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
  &__map {
    position: relative;
    overflow: hidden;
    border-radius: get-d(10px);
    @include respond(lg) {
      border-radius: get-lg(10px);
      aspect-ratio: 1/1;
    }
    @include respond(md) {
      border-radius: 6px;
    }
    & .btn {
      position: absolute;
      left: get-d(20px);
      bottom: get-d(24px);
      z-index: 1;
      @include respond(lg) {
        left: get-lg(20px);
        bottom: get-lg(24px);
      }
      @include respond(md) {
        left: 20px;
        bottom: 24px;
      }
    }
  }
}

@mixin codeBig () {
  grid-row: span 2;
  grid-column: span 2;
  & .image__back {
    padding-top: get-d(170px);
    & .image__title {
      font-size: get-d(36px);
    }
  }
  @include respond(lg) {
    & .image__back {
      padding-top: get-lg(170px);
      & .image__title {
        font-size: get-lg(36px);
      }
    }
  }
  @include respond(md) {
    & .image__back {
      padding-top: 170px;
      & .image__title {
        font-size: 24px;
      }
    }
  }
}

.stars {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: get-d(14px);
  line-height: 120%;

  @include respond(lg) {
    font-size: get-lg(14px);
  }
  @include respond(md) {
    font-size: 12px;
  }

  & span {
    margin: 0 0 0 get-d(4px);
    @include respond(lg) {
      margin: 0 0 0 get-lg(4px);
    }
    @include respond(md) {
      margin: 0 0 0 4px;
    }
  }


  & .star {
    width: get-d(24px);
    height: get-d(24px);
    background: url("../svg/material-symbols-light_star-shine.svg") center / cover no-repeat;

    @include respond(lg) {
      width: get-lg(24px);
      height: get-lg(24px);
    }
    @include respond(md) {
      width: 24px;
      height: 24px;
    }
  }
}

.gallery-section {
  padding: get-d(75px) get-d(60px);

  @include respond(lg) {
    padding: get-lg(75px) get-lg(60px);
  }
  @include respond(md) {
    padding: 75px 25px;
  }

  &:not(.full) {
    & .image {
      &:nth-of-type(5n + 3) {
        @include codeBig();
      }
    }
  }

  &.full {
    & .image {
      &:nth-of-type(10n + 3),
      &:nth-of-type(10n + 6) {
        @include codeBig();
      }
      &.active {
        display: block !important;
      }
    }
  }

  & .container {
    display: flex;
    flex-direction: column;
    gap: get-d(20px);
    align-items: center;
    @include respond(lg) {
      gap: get-lg(20px);
    }
    @include respond(md) {
      gap: 14px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include respond(md) {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }

    & .paragraph {
      max-width: get-d(490px);
      @include respond(lg) {
        max-width: get-lg(490px);
      }
      @include respond(md) {
        max-width: none;
      }
    }
  }

  &__filters {
    display: flex;
    align-items: center;
    gap: get-d(4px);
    flex-wrap: wrap;
    width: 100%;

    @include respond(lg) {
      gap: get-lg(4px);
    }

    @include respond(md) {
      gap: 4px;
    }

    & .filter {
      font-weight: 500;
      font-size: get-d(14px);
      line-height: 120%;
      text-align: center;
      padding: get-d(9.5px) get-d(20px);
      border-radius: 100px;
      border: get-d(1px) solid $bg-grey;
      transition: background 0.5s, border-color 0.5s;
      background: none;
      text-transform: capitalize;

      @include respond(lg) {
        padding: get-lg(9.5px) get-lg(20px);
        font-size: get-lg(14px);
        border-width: get-lg(1px);
      }

      @include respond(md) {
        padding: 9.5px 20px;
        font-size: 12px;
        border-width: 1px;
      }

      &.active {
        background: $bg-yellow;
        border-color: $bg-yellow;
      }
    }
  }

  &__images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: get-d(20px);

    @include respond(lg) {
      grid-gap: get-lg(20px);
    }
    @include respond(md) {
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(sm) {
      grid-template-columns: repeat(1, 1fr);
    }

    & .image {
      width: 100%;
      height: 100%;
      aspect-ratio: 1 / 1;
      
      position: relative;
      display: none;
      perspective: 1000px;
      cursor: pointer;

      @include respond(md) {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
        
      }


      & .wrapper {
        position: absolute;
        left: get-d(16px);
        right: get-d(16px);
        bottom: get-d(16px);
        z-index: 1;
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: space-between;

        @include respond(lg) {
          left: get-lg(16px);
          right: get-lg(16px);
          bottom: get-lg(16px);
        }
        @include respond(md) {
          left: 10px;
          right: 10px;
          bottom: 10px;
        }

        & .btn {
          padding: get-d(10px) get-d(40px) get-d(10px) get-d(15px);
          @include respond(lg) {
            padding: get-lg(10px) get-lg(40px) get-lg(10px) get-lg(15px);
          }
          @include respond(md) {
            padding: 10px 40px 10px 15px;
          }
        }

        & .view {
          aspect-ratio: 1 / 1;
          height: 100%;
          background: url("../svg/view.svg") center / cover no-repeat;
          display: none;
          @include respond(md) {
            display: block;
          }
        }
      }
      

      &.active {
        display: block;
      }
    
      &__front,
      &__back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        transition: transform 0.8s ease;
        top: 0;
        left: 0;
        border-radius: inherit;
        border-radius: get-d(10px);
        overflow: hidden;
        @include respond(lg) {
          border-radius: get-lg(10px);
        }
        @include respond(md) {
          border-radius: 8px;
        }
      }
    
      &__front {
        z-index: 2;
        transform: rotateY(0deg);
      }
    
      &__back {
        background: $bg-yellow;
        transform: rotateY(180deg);
        z-index: 1;
        padding: get-d(24px) get-d(16px) get-d(82px) get-d(16px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(3, max-content);
        grid-gap: get-d(10px);

        @include respond(lg) {
          padding: get-lg(24px) get-lg(16px) get-lg(82px) get-lg(16px);
          grid-gap: get-lg(10px);
        }
        @include respond(md) {
          padding: 24px 16px 82px 16px;
          grid-gap: 10px;
          display: none;
        }
      }

      &__title {
        font-weight: 500;
        font-size: get-d(20px);
        line-height: 150%;

        @include respond(lg) {
          font-size: get-lg(20px);
        }
        @include respond(md) {
          font-size: 24px;
        }
      }

      &__master, &__price {
        font-weight: 500;
        font-size: get-d(16px);
        line-height: 150%;

        @include respond(lg) {
          font-size: get-lg(16px);
        }
        @include respond(md) {
          font-size: 16px;
        }
      }
    
      &:hover {
        .image__front {
          transform: rotateY(-180deg);
          @include respond(md) {
            transform: rotateY(0deg);
          }
        }
    
        .image__back {
          transform: rotateY(0deg);
          @include respond(md) {
            transform: rotateY(0deg);
          }
        }
      }
    
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    
  }
}

.gallery-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: $bg-yellow;
  top: 0;
  left: 0;
  z-index: 105;
  padding: 72px 0;
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
  display: none;
  @include respond(md) {
    display: block;
  }
  & .cross {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 20px;
    height: 20px;
    background: url("../svg/cross.svg") center / cover no-repeat;
  }
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.gallery-swiper {
  width: 100%;
  & .swiper-slide {
    padding: 0 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    & img {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      object-fit: cover;
      max-width: 325px;
      margin: 0 auto;
      border-radius: 10px;
    }
    & .btn {
      text-align: center;
    }
    & .image__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
    }
    & .image__master, & .image__price {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }
  }
  & .button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: clamp(32%, 10vw, 50%);
    transform: translateY(-50%);
    background: url("../svg/arrow-black.svg") center / contain no-repeat;
    z-index: 1;
    &.swiper-button-next {
      right: 2.5px;
      transform: translateY(-50%) rotate(180deg);
    }
    &.swiper-button-prev {
      left: 2.5px;
    }
  }
}

.services-preview-section {
  padding: get-d(75px) get-d(60px);
  @include respond(lg) {
    padding: get-lg(75px) get-lg(60px);
  }
  @include respond(md) {
    padding: 75px 25px;
  }
  & .container {
    @include respond(md) {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 24px;
      & .btn {
        grid-row: 3 / 4;
        justify-self: center;
      }
    }
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 get-d(30px) 0;
    @include respond(lg) {
      margin: 0 0 get-lg(30px) 0;
    }
    @include respond(md) {
      margin: 0 0 22px 0;
      display: contents;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: get-d(24px);
    @include respond(lg) {
      gap: get-lg(24px);
    }
    @include respond(md) {
      gap: 24px;
    }
    & .item {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      grid-gap: get-d(72px);
      align-items: center;
      padding-bottom: get-d(24px);
      border-bottom: 1px solid $bg-grey;
      @include respond(lg) {
        grid-gap: get-lg(72px);
        padding-bottom: get-lg(24px);
      }
      @include respond(md) {
        grid-gap: 18px;
        padding-bottom: 12px;
      }
      &__title {
        font-weight: 400;
        font-size: get-d(45px);
        line-height: 100%;
        @include respond(lg) {
          font-size: get-lg(45px);
        }
        @include respond(md) {
          font-size: 20px;
        }
      }
      &__number {
        font-weight: 400;
        font-size: get-d(20px);
        line-height: 100%;
        text-transform: uppercase;
        @include respond(lg) {
          font-size: get-lg(20px);
        }
        @include respond(md) {
          font-size: 14px;
        }
      }
      &__arrow {
        width: get-d(48px);
        height: get-d(48px);
        background: url("../svg/arrow-down-outline.svg") center / contain no-repeat;
        @include respond(lg) {
          width: get-lg(48px);
          height: get-lg(48px);
        }
        @include respond(md) {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}
