.btn {
  padding: 20px 25px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  border: 1px solid $bg-grey;
  border-radius: 100px;
  &.yellow {
    background: $bg-yellow;
    border-color: $bg-yellow;
    padding-right: 25px + 47px;
    position: relative;
    overflow: hidden;
    &::before {
      position: absolute;
      height: calc(100% - 8px);
      background: url("../svg/circle\ with\ arrow.png") center / cover no-repeat;
      content: "";
      aspect-ratio: 1 / 1;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);  
    }
  }
}