.btn {
  padding: get-d(20px) get-d(24px);
  font-family: $font-family-inter;
  font-weight: 400;
  font-size: get-d(14px);
  line-height: 100%;
  color: $bg-grey;
  border: get-d(1px) solid $bg-grey;
  border-radius: 100px;
  transition: background 0.3s, border-color 0.3s, color 0.3s;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  @include respond(lg) {
    padding: get-lg(20px) get-lg(24px);
    font-size: get-lg(14px);
    border-width: get-lg(1px);
  }
  @include respond(md) {
    padding: 14px 24px;
    font-size: 14px;
    border-width: 1px;
  }
  &:hover {
    background: #f1e3be;
  }
  &.white {
    background: $bg-white;
    border-color: $bg-white;
    padding-right: get-d(24px + 32px);
    position: relative;
    overflow: hidden;
    &.mini {
      padding-right: get-d(20px + 24px);
      @include respond(lg) {
        padding-right: get-lg(20px + 24px);
      }
      @include respond(md) {
        padding-right: 20px + 24px;
      }
    }
    @include respond(lg) {
      padding-right: get-lg(25px + 47px);
    }
    @include respond(md) {
      padding-right: 25px + 47px;
    }
    &::before {
      position: absolute;
      height: calc(100% - get-d(8px));
      background: url("../svg/circle.svg") center / cover no-repeat;
      content: "";
      aspect-ratio: 1 / 1;
      right: get-d(4px);
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.5s;
      @include respond(lg) {
        right: get-lg(4px);
        height: calc(100% - get-lg(8px));
      }
      @include respond(md) {
        right: 2px;
        height: calc(100% - 4px);
      }
    }
    &:hover {
      background: #f1e3be;
      border-color: #f1e3be;
      &::before {
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
  &.yellow {
    background: $bg-yellow;
    border-color: $bg-yellow;
    padding-right: get-d(24px + 44px);
    position: relative;
    overflow: hidden;
    @include respond(lg) {
      padding-right: get-lg(25px + 47px);
    }
    @include respond(md) {
      padding-right: 25px + 47px;
    }
    &.mini {
      padding-right: get-d(20px + 24px);
      @include respond(lg) {
        padding-right: get-lg(20px + 24px);
      }
      @include respond(md) {
        padding-right: 20px + 24px;
      }
    }
    &::before {
      position: absolute;
      height: calc(100% - get-d(8px));
      background: url("../svg/circle.svg") center / cover no-repeat;
      content: "";
      aspect-ratio: 1 / 1;
      right: get-d(4px);
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.5s;
      @include respond(lg) {
        right: get-lg(4px);
        height: calc(100% - get-lg(8px));
      }
      @include respond(md) {
        right: 2px;
        height: calc(100% - 4px);
      }
    }
    &:hover {
      background: #eeb614;
      border-color: #eeb614;
      &::before {
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
  &.mini {
    padding: get-d(12px) get-d(20px);
    font-size: get-d(14px);
    @include respond(lg) {
      padding: get-lg(12px) get-lg(20px);
      font-size: get-lg(14px);
    }
    @include respond(md) {
      padding: 10px 20px;
      font-size: 10px;
    }
  }
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: get-d(16px);
  @include respond(lg) {
    gap: get-lg(16px);
  }
  @include respond(md) {
    gap: 0;
  }
  & img {
    width: get-d(51px);
    height: get-d(51px);
    @include respond(lg) {
      width: get-lg(51px);
      height: get-lg(51px);
    }
    @include respond(md) {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }
  a {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  & a b {
    text-decoration: underline;
  }
  & a,
  b {
    font-weight: 500;
    font-size: get-d(20px);
    line-height: 120%;
    @include respond(lg) {
      font-size: get-lg(20px);
    }
    @include respond(md) {
      font-size: 16px;
    }
  }
  & a span {
    opacity: 0.7;
  }
  & span {
    font-weight: 500;
    font-size: get-d(14px);
    line-height: 120%;

    @include respond(lg) {
      font-size: get-lg(14px);
    }
    @include respond(md) {
      font-size: 14px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: get-d(20px);
    padding-top: get-d(12px);
    @include respond(lg) {
      gap: get-lg(20px);
      padding-top: get-lg(12px);
    }
    @include respond(md) {
      gap: 13px !important;
      padding-top: 8px;
    }
  }
}

.chat {
  position: fixed;
  bottom: get-d(90px);
  right: get-d(60px);
  background: $bg-white;
  z-index: 100;
  font-weight: 600;
  font-size: get-d(16px);
  line-height: 100%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: get-d(4px);
  padding: get-d(14px) get-d(20px);
  transition: background 0.5s, transform 0.5s;
  &:hover {
    background: #f1e3be;
    transform: scale(1.1);
  }
  @include respond(lg) {
    bottom: get-lg(90px);
    right: get-lg(60px);
    font-size: get-lg(16px);
    gap: get-lg(4px);
    padding: get-lg(14px) get-lg(20px);
  }
  @include respond(md) {
    bottom: 60px;
    right: 30px;
    font-size: 14px;
    gap: 4px;
    padding: 14px 20px;
  }
  &::before {
    background: url("../svg/fluent_chat-12-filled.svg") center / contain no-repeat;
    content: "";
    width: get-d(22px);
    height: get-d(22px);
    display: inline-block;
    @include respond(lg) {
      width: get-lg(22px);
      height: get-lg(22px);
    }
    @include respond(md) {
      width: 16px;
      height: 16px;
    }
  }
}

.team-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content 1fr max-content;
  grid-gap: get-d(16px);
  @include respond(lg) {
    grid-gap: get-lg(16px);
  }
  @include respond(md) {
    grid-gap: 10px;
  }
  &__image {
    height: get-d(315px);
    width: 100%;
    object-fit: cover;
    border-radius: get-d(10px);
    @include respond(lg) {
      height: get-lg(315px);
      border-radius: get-lg(10px);
    }
    @include respond(md) {
      height: 250px;
      border-radius: 10px;
    }
  }
  & .mini-swiper {
    & .swiper-wrapper {
      padding-bottom: get-d(16px);
      @include respond(lg) {
        padding-bottom: get-lg(16px);
      }
      @include respond(md) {
        padding-bottom: 20px;
      }
    }
    & .swiper-scrollbar {
      height: get-d(6px);
      width: 100%;
      margin: 0;
      background: #e0e0e0;
      left: 0;
      right: 0;
      @include respond(lg) {
        height: get-lg(6px);
      }
      @include respond(md) {
        height: 4px;
      }
      & .swiper-scrollbar-drag {
        background: $bg-yellow;
      }
    }
  }
  &__instagram {
    width: get-d(30px);
    height: get-d(30px);
    background: url("../svg/inst.svg") center / contain no-repeat;
    @include respond(lg) {
      width: get-lg(30px);
      height: get-lg(30px);
    }
    @include respond(md) {
      width: 30px;
      height: 30px;
    }
  }
  &__text {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-auto-rows: repeat(2, max-content);
    grid-gap: get-d(6px);
  }
  &__rate {
    grid-column: 1 / -1;
    height: 24px;
    @media screen and (max-width: 768px) {
      height: auto;
    }
  }
  &__name {
    font-weight: 500;
    font-size: get-d(24px);
    line-height: 120%;
    @include respond(lg) {
      font-size: get-lg(24px);
    }
    @include respond(md) {
      font-size: 20px;
    }
  }
  &__buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    &.page {
      grid-template-columns: max-content;
      justify-content: center;
    }
  }
}

.popup-join {
  position: fixed;
  width: get-d(520px);
  height: get-d(560px);
  padding: get-d(40px);
  background: #f7f1e0;
  border-radius: get-d(10px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s, pointer-events 0.5s;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content) 1fr repeat(2, max-content);
  align-items: start;
  overflow: auto;
  & .cross {
    position: absolute;
    top: get-d(24px);
    right: get-d(24px);
    width: get-d(20px);
    height: get-d(20px);
    background: url("../svg/cross.svg") center / cover no-repeat;
    // cursor: pointer;
    @include respond(lg) {
      top: get-lg(24px);
      right: get-lg(24px);
      width: get-lg(20px);
      height: get-lg(20px);
    }
    @include respond(md) {
      top: 55px;
      right: 25px;
      width: 20px;
      height: 20px;
    }
  }
  @include respond(lg) {
    width: get-lg(520px);
    height: get-lg(550px);
    padding: get-lg(40px);
    border-radius: get-lg(10px);
  }
  @include respond(md) {
    width: 100vw;
    height: 100dvh;
    padding: 70px 25px 30px 25px;
    border-radius: 0;
  }
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  & .wpcf7 {
    display: contents;
  }
  & form {
    display: contents;
    & br {
      display: none;
    }
    &.wpcf7-form.sent {
      & .wpcf7-response-output {
        background: rgba(#06b569, 10%);
        color: #06b569;
        &::before {
          background-image: url("../svg/check icon.svg");
        }
      }
    }
    & .wpcf7-not-valid-tip {
      position: absolute;
      top: 100%;
      left: 0;
      font-weight: 500;
      font-size: get-d(14px);
      line-height: get-d(16px);
      text-align: left;
      padding-top: get-d(6px);
      color: $red;
      @include respond(lg) {
        font-size: get-lg(14px);
        line-height: get-lg(16px);
        padding-top: get-lg(6px);
      }
      @include respond(md) {
        font-size: 12px;
        line-height: 14px;
        padding-top: 6px;
      }
    }
    & .wpcf7-response-output {
      padding: get-d(8px);
      width: 100%;
      border: none;
      border-radius: get-d(10px);
      font-weight: 500;
      font-size: get-d(14px);
      line-height: get-d(16px);
      color: $red;
      text-align: left;
      background: rgba($red, 10%);
      display: flex;
      align-items: center;
      gap: get-d(8px);
      position: relative;
      @include respond(lg) {
        padding: get-lg(8px);
        border-radius: get-lg(10px);
        font-size: get-lg(14px);
        line-height: get-lg(16px);
        gap: get-lg(8px);
      }
      @include respond(md) {
        padding: 8px;
        border-radius: 10px;
        font-size: 12px;
        line-height: 14px;
        gap: 8px;
        margin: 16px 0 0 0;
      }
      &::before {
        width: get-d(24px);
        height: get-d(24px);
        background: $bg-white url("../svg/error icon.svg") center / 75% no-repeat;
        display: block;
        content: "";
        border-radius: get-d(6px);
        min-width: get-d(24px);
        min-height: get-d(24px);
        @include respond(lg) {
          width: get-lg(24px);
          height: get-lg(24px);
          border-radius: get-lg(6px);
          min-width: get-lg(24px);
          min-height: get-lg(24px);
        }
        @include respond(md) {
          width: 24px;
          height: 24px;
          border-radius: 6px;
          min-width: 24px;
          min-height: 24px;
        }
      }
    }
    & .form-fields .wpcf7-form-control-wrap:has(.wpcf7-not-valid-tip) input {
      border-color: $red;
    }
    & .promo-form {
      display: contents;
    }
    & .form-fields p {
      background: $bg-white;
      padding: get-d(28px);
      border-radius: get-d(14px) get-d(14px) 0 0;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      grid-gap: get-d(16px);
      height: 100%;
      @include respond(lg) {
        grid-gap: get-lg(16px);
        padding: get-lg(28px);
        border-radius: get-lg(14px) get-lg(14px) 0 0;
      }
      @include respond(md) {
        grid-gap: 16px;
        padding: 24px;
        border-radius: 20px 20px 0 0;
      }
      & span,
      input {
        width: 100%;
        max-width: 100%;
      }
      & input {
        padding: get-d(11px) get-d(4px);
        border: none;
        background: none;
        border-bottom: get-d(2px) solid $bg-grey;
        border-radius: 0;
        @include respond(lg) {
          padding: get-lg(11px) get-lg(4px);
          border-bottom: get-lg(2px) solid $bg-grey;
        }
        @include respond(md) {
          padding: 11px 4px;
          border-bottom: 2px solid $bg-grey;
        }
        &,
        &::placeholder {
          font-weight: 500;
          font-size: get-d(14px);
          line-height: 120%;
          color: $bg-grey;
          @include respond(lg) {
            font-size: get-lg(14px);
          }
          @include respond(md) {
            font-size: 14px;
          }
        }
        &:focus {
          outline: none;
          border-color: $bg-yellow;
        }
      }
    }
    & .form-checkbox-submit {
      display: contents;

      & p {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: get-d(14px);
        line-height: 120%;
        @include respond(lg) {
          font-size: get-lg(14px);
        }
        @include respond(md) {
          font-size: 14px;
        }
      }

      & .wpcf7-list-item {
        margin: 0;
      }

      & .checkbox-label {
        padding: 0 get-d(28px) get-d(40px) get-d(28px);
        border-radius: 0 0 get-d(14px) get-d(14px);
        @include respond(lg) {
          padding: 0 get-lg(28px) get-lg(40px) get-lg(28px);
          border-radius: 0 0 get-lg(14px) get-lg(14px);
        }
        @include respond(md) {
          padding: 0 24px 40px 24px;
          border-radius: 0 0 14px 14px;
        }
      }

      & label:has(input) {
        display: flex;
        align-items: center;
        background: $bg-white;
        width: 100%;
        gap: get-d(8px);

        @include respond(lg) {
          gap: get-lg(8px);
        }
        @include respond(md) {
          gap: 8px;
        }

        & input {
          width: get-d(20px);
          height: get-d(20px);
          min-width: get-d(20px);
          min-height: get-d(20px);
          appearance: none;
          border: get-d(2px) solid #14141480;
          border-radius: get-d(5px);
          @include respond(lg) {
            width: get-lg(20px);
            height: get-lg(20px);
            min-width: get-lg(20px);
            min-height: get-lg(20px);
            border: get-lg(2px) solid #14141480;
            border-radius: get-lg(5px);
          }
          @include respond(md) {
            width: 20px;
            height: 20px;
            min-width: 20px;
            min-height: 20px;
            border: 2px solid #14141480;
            border-radius: 5px;
          }
          &:checked {
            background: url("../svg/mark.svg") center / contain no-repeat;
          }
        }
      }

      & input[type="submit"] {
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
      }
    }
    & .wpcf7-form-control-wrap {
      position: relative;
    }

    & .btn {
      justify-self: center;
      margin: get-d(16px) 0 0 0;
      @include respond(lg) {
        margin: get-lg(16px) 0 0 0;
      }
      @include respond(md) {
        margin: 16px 0 0 0;
      }
    }
  }
  & .title {
    font-weight: 500;
    font-size: get-d(36px);
    line-height: 120%;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: get-d(32px);
    & strong,
    b {
      font-weight: inherit;
      background: $bg-yellow;
      border-radius: 1000px;
      padding: get-d(4px) get-d(10px);
      @include respond(lg) {
        padding: get-lg(4px) get-lg(10px);
      }
      @include respond(md) {
        padding: 4px 10px;
      }
    }
    @include respond(lg) {
      font-size: get-lg(36px);
      margin-bottom: get-lg(32px);
    }
    @include respond(md) {
      font-size: 36px;
      margin-bottom: 32px;
    }
  }
}

.stars {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: get-d(14px);
  line-height: 120%;

  &.yellow {
    & .star {
      background-image: url("../svg/material-symbols-light_star-shine copy.svg");
    }
  }

  @include respond(lg) {
    font-size: get-lg(14px);
  }
  @include respond(md) {
    font-size: 14px;
  }

  & span {
    margin: 0 0 0 get-d(4px);
    @include respond(lg) {
      margin: 0 0 0 get-lg(4px);
    }
    @include respond(md) {
      margin: 0 0 0 4px;
    }
  }

  & .star {
    width: get-d(24px);
    height: get-d(24px);
    background: url("../svg/material-symbols-light_star-shine.svg") center / cover no-repeat;

    @include respond(lg) {
      width: get-lg(24px);
      height: get-lg(24px);
    }
    @include respond(md) {
      width: 24px;
      height: 24px;
    }
  }
}
