.btn {
  padding: get-d(20px) get-d(25px);
  font-family: $font-family-inter;
  font-weight: 400;
  font-size: get-d(14px);
  line-height: 100%;
  border: get-d(1px) solid $bg-grey;
  border-radius: 100px;
  transition: background 0.3, border-color 0.3, color 0.3;
  @include respond(lg) {
    padding: get-lg(20px) get-lg(25px);
    font-size: get-lg(14px);
    border-width: get-lg(1px);
  }
  @include respond(md) {
    padding: 14px 24px;
    font-size: 12px;
    border-width: 1px;
  }
  &:hover {
    background: #F1E3BE;
  }
  &.white {
    background: $bg-white;
    border-color: $bg-white;
    padding-right: get-d(24px + 32px);
    position: relative;
    overflow: hidden;
    @include respond(lg) {
      padding-right: get-lg(25px + 47px);
    }
    @include respond(md) {
      padding-right: 25px + 47px;
    }
    &::before {
      position: absolute;
      height: calc(100% - get-d(8px));
      background: url("../svg/circle.svg") center / cover no-repeat;
      content: "";
      aspect-ratio: 1 / 1;
      right: get-d(4px);
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.5s;
      @include respond(lg) {
        right: get-lg(4px);
        height: calc(100% - get-lg(8px));
      }
      @include respond(md) {
        right: 2px;
        height: calc(100% - 4px);
      }
    }
    &:hover {
      background: #F1E3BE;
      border-color: #F1E3BE;
      &::before {
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
  &.yellow {
    background: $bg-yellow;
    border-color: $bg-yellow;
    padding-right: get-d(24px + 32px);
    position: relative;
    overflow: hidden;
    @include respond(lg) {
      padding-right: get-lg(25px + 47px);
    }
    @include respond(md) {
      padding-right: 25px + 47px;
    }
    &::before {
      position: absolute;
      height: calc(100% - get-d(8px));
      background: url("../svg/circle.svg") center / cover no-repeat;
      content: "";
      aspect-ratio: 1 / 1;
      right: get-d(4px);
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.5s;
      @include respond(lg) {
        right: get-lg(4px);
        height: calc(100% - get-lg(8px));
      }
      @include respond(md) {
        right: 2px;
        height: calc(100% - 4px);
      }
    }
    &:hover {
      background: #EEB614;
      border-color: #EEB614;
      &::before {
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: get-d(16px);
  @include respond(lg) {
    gap: get-lg(16px);
  }
  @include respond(md) {
    gap: 10px;
  }
  & img {
    width: get-d(51px);
    height: get-d(51px);
    @include respond(lg) {
      width: get-lg(51px);
      height: get-lg(51px);
    }
    @include respond(md) {
      width: 40px;
      height: 40px;
    }
  }
  & a,
  b {
    font-weight: 500;
    font-size: get-d(20px);
    line-height: 120%;
    text-decoration: underline;
    @include respond(lg) {
      font-size: get-lg(20px);
    }
    @include respond(md) {
      font-size: 16px;
    }
  }
  & span {
    font-weight: 500;
    font-size: get-d(14px);
    line-height: 120%;
    @include respond(lg) {
      font-size: get-lg(14px);
    }
    @include respond(md) {
      font-size: 12px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: get-d(20px);
    padding-top: get-d(12px);
    @include respond(lg) {
      gap: get-lg(20px);
      padding-top: get-lg(12px);
    }
    @include respond(md) {
      gap: 12px;
      padding-top: 8px;
    }
  }
}


.chat {
  position: fixed;
  bottom: get-d(90px);
  right: get-d(60px);
  background: $bg-white;
  z-index: 100;
  font-weight: 600;
  font-size: get-d(16px);
  line-height: 100%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: get-d(4px);
  padding: get-d(14px) get-d(20px);
  @include respond(lg) {
    bottom: get-lg(90px);
    right: get-lg(60px);
    font-size: get-lg(16px);
    gap: get-lg(4px);
    padding: get-lg(14px) get-lg(20px);
  }
  @include respond(md) {
    bottom: 60px;
    right: 30px;
    font-size: 14px;
    gap: 4px;
    padding: 14px 20px;
  }
  &::before {
    background: url("../svg/fluent_chat-12-filled.svg") center / contain no-repeat;
    content: "";
    width: get-d(22px);
    height: get-d(22px);
    display: inline-block;
    @include respond(lg) {
      width: get-lg(22px);
      height: get-lg(22px);
    }
    @include respond(md) {
      width: 16px;
      height: 16px;
    }
  }
}