
.burger {
  position: relative;
  width: 22px;
  cursor: pointer;
  height: calc(2px * 3 + 5px * 2);
  z-index: 102;
  display: none;
  @include respond(lg) {
    display: block;
  }
  &::before {
    content: '';
    width: 36px;
    height: 36px;
    background: $bg-yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: #000;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}

.bar--top {
  bottom: calc(50% + 5px + 2px/ 2);
  transition-property: bottom,transform;
  transition-delay: calc(0s + 0.35s),0s;
}

.bar--middle {
  top: calc(50% - 2px/ 2);
  transition-property: opacity;
  transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
  top: calc(50% + 5px + 2px/ 2);
  transition-property: top,transform;
  transition-delay: calc(0s + 0.35s),0s;
}

.burger.active .bar--top {
  bottom: calc(50% - 2px/ 2);
  transform: rotate(135deg);
  transition-delay: 0s,calc(0s + 0.35s);
}

.burger.active .bar--middle {
  opacity: 0;
  transition-duration: 0s;
  transition-delay: calc(0s + 0.35s);
}

.burger.active .bar--bottom {
  top: calc(50% - 2px/ 2);
  transform: rotate(225deg);
  transition-delay: 0s,calc(0s + 0.35s);
}

.burger-menu {
  position: fixed;
  inset: 0 0 auto 0;
  width: 100vw;
  height: 100dvh;
  background: $bg-yellow;
  z-index: 101;
  display: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
  padding: min(get-md(145px), 145px) min(get-md(30px), 30px) min(get-md(52px), 52px) min(get-md(30px), 30px);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content max-content;
  gap: min(get-md(33px), 33px);
  justify-items: end;
  align-items: end;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  @include respond(lg) {
    display: grid;
  }

  & nav {
    height: 100%;
  }

  & ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    align-items: flex-end;

    & a {
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
    }
  }
}
