.site-header {
  padding: get-d(15px) get-d(60px) 0 get-d(60px);
  
  & .container {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-gap: get-d(40px);
    align-items: center;
    border-bottom: get-d(2px) solid rgba($bg-grey, 50%);
    padding-bottom: get-d(15px);

    & .menu {
      & .current_page_item {
        background: $bg-yellow;
        border-radius: 100px;
      }
      & a {
        font-weight: 600;
        font-size: get-d(12px);
        line-height: 100%;
        text-transform: uppercase;
        padding: get-d(10px) get-d(14px);
        color: rgba($bg-grey, 90%);
      }
    }

    & .location {
      font-weight: 500;
      font-size: get-d(14px);
      line-height: 100%;
      text-transform: capitalize;
    }
  }
  
}

.logo {
  & img {
    height: auto;
    width: get-d(190px);
  }
}