.site-header {
  padding: get-d(15px) get-d(60px);
  padding-bottom: 0;
  position: static;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: $bg-color;
  transition: transform 0.5s ease;
  --border-color: transparent;
  position: fixed;
  min-height: get-d($header-height);
  &.hidden {
    transform: translateY(-100%);
  }
  &.active {
    z-index: 1000;
    background: none;
    border-color: transparent;
    & .location,
    .logo {
      display: none !important;
    }
  }
  @include respond(lg) {
    padding: 28px 25px 0 25px;
    // border-bottom: 2px solid var(--border-color);
    min-height: $header-height;
    & .buttons {
      display: none;
    }
  }
  @include respond(md) {
    padding: 10px 10px 25px;
  }
  & .container {
    display: flex;
    grid-gap: get-d(20px);
    align-items: center;
    border-bottom: get-d(2px) solid var(--border-color);
    // padding-bottom: get-d(15px);
    height: 100%;
    @include respond(lg) {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: max-content 1fr max-content;
      // padding-bottom: 0;
      border-bottom: 0;
    }

    & .menu {
      display: flex;
      align-items: center;
      list-style: none;
      @include respond(lg) {
        display: none;
      }
      li {
        display: flex;
      }
      & .current_page_item a {
        background: $bg-yellow;
        border-radius: 100px;
        @include respond(lg) {
          background: none;
          border-radius: none;
        }
      }
      & a {
        font-weight: 600;
        font-size: get-d(12px);
        line-height: 100%;
        text-transform: uppercase;
        padding: get-d(10px) get-d(8px);
        color: rgba($bg-grey, 90%);
        @include respond(lg) {
          font-size: 20px;
          padding: 0;
        }
        &:hover {
          transition: all 0.3s ease;
          background: $bg-yellow;
          border-radius: 100px;
          @include respond(lg) {
            background: none;
            border-radius: none;
          }
        }
      }
    }

    & .location {
      font-weight: 500;
      font-size: get-d(14px);
      line-height: 100%;
      text-transform: capitalize;
      position: relative;
      display: flex;
      align-items: center;
      width: fit-content;
      gap: get-d(4px);
      @include respond(lg) {
        font-size: 14px;
      }
      &::before {
        content: '';
        display: block;
        width: get-d(26px);
        height: get-d(26px);
        background: url('../svg/location.svg') center / cover no-repeat;
        @include respond(lg) {
          width: 26px;
          height: 26px;
        }
      }
    }
  }

  & .menu-container {
    margin-left: auto;
    grid-column: -2 / -1;
  }
}

.page-template-mani-mania {
  & main {
    padding-top: $header-height;
  }
}

main {
  padding-top: get-d($header-height);
  @include respond(lg) {
    padding-top: $header-height;
  }
}
.home main {
  padding: get-d($header-height) 0 0;
  @include respond(md) {
    padding: 72px 0 0;
  }
}
body {
  &.page-template-sunny-friends,
  &.page-template-mani-mania {
    & .site-header .container {
      border-bottom: none;
    }
  }
}

.logo {
  & img {
    height: auto;
    width: get-d(190px);
    // @include respond(lg) {
    //   width: get-lg(190px);
    // }
    @include respond(lg) {
      width: 112px;
    }
  }
}
