.services-section {
  background-color: #f7f1e0;

  padding: get-d(40px) 0;
  @include respond(lg) {
    padding: get-lg(40px) 0;
  }

  .container {
    box-sizing: border-box;
    padding: 0 get-d(60px) 0 get-d(60px);
    @include respond(lg) {
      padding: 0 get-lg(40px) 0 get-lg(40px);
    }
    @include respond(md) {
      padding: 0 25px;
    }
    padding-top: 0;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

/* Page header styling */
.services-header {
  display: flex;
  flex-direction: column;
  gap: get-d(24px);
}

.section-title {
  color: #302f34;
  font-weight: 500;
  font-size: get-d(65px);
  line-height: 90%;
  @include respond(lg) {
    font-size: get-lg(40px);
  }
  @include respond(md) {
    font-size: 32px;
  }
}

.section-description {
  max-width: get-d(550px);
  color: #302f34;
  font-weight: 500;
  font-size: get-d(16px);
  line-height: 120%;
  @include respond(lg) {
    font-size: get-lg(16px);
    max-width: 550px;
  }
  @include respond(md) {
    font-size: 14px;
    max-width: 100%;
  }
}
.services-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  column-gap: 17px;
}
.category-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 20px;
  align-items: center;
  flex: 1 0 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
  &:last-child {
    .book-btn {
      display: none;
    }
  }
}
.services-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.service-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 0;
  &:last-child {
    padding: 20px 0 0 0;
    border-bottom: none;
  }
}
.category-overview-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.categories-overview {
  width: 100%;
}
.category-image {
  width: 100%;
  height: auto;
  img {
    width: 100%;
    height: get-d(315px);
    width: 100%;
    object-fit: cover;
    border-radius: get-d(10px);
    @include respond(lg) {
      height: get-lg(315px);
      border-radius: get-lg(10px);
    }
    @include respond(md) {
      height: 250px;
      border-radius: 10px;
    }
  }
}
.category-name {
  font-weight: 600;
  line-height: normal;
  font-size: get-d(24px);
  line-height: 120%;
  @include respond(lg) {
    font-size: get-lg(24px);
  }
  @include respond(md) {
    font-size: 20px;
  }
}

.service-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: #302f34;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}
.service-price {
  text-wrap: nowrap;
}
/* Service meta information styling */
.service-meta {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px;
  border-radius: 12px;
  background: var(--beige, #f7f1e0);
}

.service-duration,
.service-wear-time,
.service-description {
  color: #302f34;
  font-size: get-d(14px);
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  text-align: start;
  @include respond(lg) {
    font-size: get-lg(14px);
  }
  @include respond(md) {
    font-size: 14px;
  }
}

.book-btn {
  width: fit-content;
  min-width: 122px;
}

/* Responsive styles */
@media (max-width: 1023px) {
  .services-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .services-section {
    .container {
      gap: 16px;
    }
  }
  .services-header {
    gap: 11px;
  }
  .section-title {
    font-size: 32px;
    line-height: 100%; /* 32px */
    letter-spacing: -0.96px;
  }
  .section-description {
    font-size: 14px;
    line-height: 130%; /* 18.2px */
  }
  .services-content {
    grid-template-columns: 1fr;
    gap: 16px !important;
  }
  .category-overview-item {
    gap: 10px;
  }
  .service-card {
    &:first-child {
      padding: 10px 0 20px 0;
    }
  }
  .book-btn {
    margin: 10px auto 0;
  }
}
