.courses-section {
  padding: get-d(40px) get-d(60px) get-d(150px) get-d(60px);
  @include respond(lg) {
    padding: get-lg(40px) get-lg(60px) get-lg(150px) get-lg(60px);
  }
  @include respond(md) {
    padding: 40px 25px 75px 25px;
  }
  & .container {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: get-d(30px);
    @include respond(lg) {
      grid-gap: get-lg(30px);
    }
    @include respond(md) {
      grid-gap: 24px;
    }
  }
  &__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: get-d(20px);
    display: grid;
    width: 100%;
    @include respond(lg) {
      grid-gap: get-lg(20px);
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(md) {
      grid-template-columns: 100%;
      grid-gap: 20px;
    }
  }
  &__top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    @include respond(md) {
      grid-template-columns: 100%;
      grid-gap: 12px;
    }
    & .paragraph {
      text-align: right;
      @include respond(md) {
        text-align: left;
      }
    }
  }
  &__filters {
    display: flex;
    align-items: center;
    gap: get-d(4px);
    flex-wrap: wrap;
    width: 100%;

    @include respond(lg) {
      gap: get-lg(4px);
    }

    @include respond(md) {
      gap: 4px;
    }

    & .filter {
      font-weight: 500;
      font-size: get-d(14px);
      line-height: 120%;
      text-align: center;
      padding: get-d(9.5px) get-d(20px);
      border-radius: 100px;
      border: get-d(1px) solid $bg-grey;
      transition:
        background 0.5s,
        border-color 0.5s;
      background: none;
      text-transform: capitalize;
      color: $bg-grey;

      @include respond(lg) {
        padding: get-lg(9.5px) get-lg(20px);
        font-size: get-lg(14px);
        border-width: get-lg(1px);
      }

      @include respond(md) {
        padding: 9.5px 20px;
        font-size: 14px;
        border-width: 1px;
      }

      &.active {
        background: $bg-yellow;
        border-color: $bg-yellow;
      }
      &:hover {
        background: #f1e3be;
        transition: all 0.5s ease;
        cursor: pointer;
      }
    }
  }
}

.course-card {
  width: 100%;
  padding: get-d(20px);
  background: #ffffffbf;
  border-radius: get-d(10px);
  backdrop-filter: blur(54px);
  @include respond(lg) {
    padding: get-lg(20px);
    border-radius: get-lg(10px);
  }
  @include respond(md) {
    padding: 20px;
    border-radius: 10px;
  }
  &--discount {
    font-weight: 700;
    font-size: get-d(14px);
    line-height: 120%;
    color: #08AE66;
    text-align: center;
    border-radius: 100vw;
    padding: get-d(6.5px) get-d(12px);
    background: #FFFFFF;
    width: max-content;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: get-d(4px);
    &::before {
      content: '';
      width: get-d(16px);
      height: get-d(16px);
      background: url("../svg/discount.svg") center / contain no-repeat;
      display: block;
    }
    @include respond(lg) {
      font-size: get-lg(14px);
      padding: get-lg(6.5px) get-lg(12px);
      grid-gap: get-lg(4px);
      &::before {
        width: get-lg(16px);
        height: get-lg(16px);
      }
    }
    @include respond(md) {
      font-size: 14px;
      padding: 6.5px 12px;
      grid-gap: 4px;
      &::before {
        width: 16px;
        height: 16px;
      }
    }
  }
  &--date {
    border-radius: 100vw;
    padding: get-d(6.5px) get-d(12px);
    background: #0000004d;
    backdrop-filter: blur(44px);
    font-weight: 500;
    font-size: get-d(14px);
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    width: max-content;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    @include respond(lg) {
      font-size: get-lg(14px);
      padding: get-lg(6.5px) get-lg(12px);
    }
    @include respond(md) {
      font-size: 14px;
      padding: 6.5px 12px;
    }
  }
  &--certificated {
    border-radius: 100vw;
    padding: get-d(6.5px) get-d(12px);
    background: #FDC41F;
    backdrop-filter: blur(44px);
    font-weight: 500;
    font-size: get-d(14px);
    line-height: 120%;
    text-align: center;
    color: #302F34;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: get-d(4px);
    &::before {
      content: '';
      width: get-d(16px);
      height: get-d(16px);
      background: url("../svg/Certificate.svg") center / contain no-repeat;
      display: block;
    }
    @include respond(lg) {
      font-size: get-lg(14px);
      padding: get-lg(6.5px) get-lg(12px);
      grid-gap: get-lg(4px);
      &::before {
        width: get-lg(16px);
        height: get-lg(16px);
      }
    }
    @include respond(md) {
      font-size: 14px;
      padding: 6.5px 12px;
      grid-gap: 4px;
      &::before {
        width: 16px;
        height: 16px;
      }
    }
    &.is_discount {
      grid-column: 1 / -1;
    }
  }
  &--image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__header {
    position: relative;
    width: 100%;
    height: get-d(200px);
    border-radius: get-d(10px);
    overflow: hidden;
    padding: get-d(12px);
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-auto-rows: max-content;
    grid-gap: get-d(8px);
    justify-content: space-between;
    & img,
    & picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include respond(lg) {
      height: get-lg(200px);
      padding: get-lg(12px);
      grid-gap: get-lg(8px);
      border-radius: get-lg(10px);
    }
    @include respond(md) {
      height: 200px;
      padding: 12px;
      grid-gap: 8px;
      border-radius: 10px;
    }
  }
  &--title {
    font-weight: 600;
    font-size: get-d(20px);
    line-height: 100%;
    margin-top: get-d(12px);
    color: #302F34;
    display: inline-block;
    @include respond(lg) {
      font-size: get-lg(20px);
      margin-top: get-lg(12px);
    }
    @include respond(md) {
      font-size: 20px;
      margin-top: 12px;
    }
  }
  &--description {
    font-weight: 400;
    font-size: get-d(14px);
    line-height: 140%;
    color: #302F34;
    margin-top: get-d(4px);
    display: inline-block;
    @include respond(lg) {
      font-size: get-lg(14px);
      margin-top: get-lg(4px);
    }
    @include respond(md) {
      font-size: 14px;
      margin-top: 4px;
    }
  }
  &__footer {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    grid-gap: get-d(8px);
    width: 100%;
    padding: get-d(10px) 0;
    align-items: center;
    @include respond(lg) {
      grid-gap: get-lg(8px);
      padding: get-lg(10px) 0;
    }
    @include respond(md) {
      grid-gap: 8px;
      padding: 10px 0;
      grid-template-rows: repeat(2, max-content);
    }
  }
  &--info {
    font-weight: 400;
    font-size: get-d(14px);
    line-height: 120%;
    color: #302F34;
    margin: get-d(12px) 0;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      width: get-d(16px);
      height: get-d(16px);
      background: url("../svg/info.svg") center / contain no-repeat;
      display: block;
      margin-right: get-d(4px);
    }
    @include respond(lg) {
      font-size: get-lg(14px);
      margin: get-lg(12px) 0;
      &::before {
        width: get-lg(16px);
        height: get-lg(16px);
        margin-right: get-lg(4px);
      }
    }
    @include respond(md) {
      font-size: 14px;
      margin: 12px 0;
      grid-column: 1 / -1;
      &::before {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
    }
  }
  &--old-price {
    font-weight: 500;
    font-size: get-d(18px);
    line-height: 120%;
    text-decoration: line-through;
    color: #9A9A9A;
    @include respond(lg) {
      font-size: get-lg(18px);
    }
    @include respond(md) {
      font-size: 18px;
      grid-column: 2 / 3;
    }
  }
  &--price {
    font-weight: 600;
    font-size: get-d(22px);
    line-height: 120%;
    color: #302F34;
    @include respond(lg) {
      font-size: get-lg(22px);
    }
    @include respond(md) {
      font-size: 22px;
      grid-column: 3 / 4;
    }
  }
  &--button {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: get-d(12px);
    width: 100%;
    @include respond(lg) {
      grid-gap: get-lg(12px);
    }
    @include respond(md) {
      grid-gap: 12px;
    }
    & .btn {
      padding: get-d(10px) get-d(20px);
      width: 100%;
      font-weight: 500;
      font-size: get-d(14px);
      line-height: get-d(20px);
      @include respond(lg) {
        padding: get-lg(10px) get-lg(20px);
        font-size: get-lg(14px);
        line-height: get-lg(20px);
      }
      @include respond(md) {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 20px;
        padding-right: 20px !important;
      }
      &:hover {
        transform: none !important;
      }
      &::before {
        display: none;
      }
      &.white {
        border: get-d(1px) solid #DBD6CB;
        color: #302F34;
        background: #fff;
        @include respond(lg) {
          border: get-lg(1px) solid #DBD6CB;
        }
        @include respond(md) {
          border: 1px solid #DBD6CB;
        }
      }
    }
  }
}
