.courses-section {
  padding: get-d(40px) get-d(60px) get-d(150px) get-d(60px);
  @include respond(lg) {
    padding: get-lg(40px) get-lg(60px) get-lg(150px) get-lg(60px);
  }
  @include respond(md) {
    padding: 50px 25px 25px 25px;
    & .title {
      max-width: 350px;
    }
  }
  & .container {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: get-d(30px);
    @include respond(lg) {
      grid-gap: get-lg(30px);
    }
    @include respond(md) {
      grid-gap: 24px;
    }
  }
  &__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: get-d(20px);
    display: grid;
    width: 100%;
    @include respond(lg) {
      grid-gap: get-lg(20px);
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(md) {
      grid-template-columns: 100%;
      grid-gap: 20px;
    }
  }
  &__top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    @include respond(md) {
      grid-template-columns: 100%;
      grid-gap: 8px;
    }
    & .paragraph {
      text-align: right;
      @include respond(md) {
        text-align: left;
        max-width: 400px;
      }
    }
  }
  &__filters {
    display: flex;
    align-items: center;
    gap: get-d(4px);
    flex-wrap: wrap;
    width: 100%;

    @include respond(lg) {
      gap: get-lg(4px);
    }

    @include respond(md) {
      gap: 4px;
      margin-top: 1px;
    }

    & .filter {
      font-weight: 500;
      font-size: get-d(14px);
      line-height: 120%;
      text-align: center;
      padding: get-d(9.5px) get-d(20px);
      border-radius: 100px;
      border: get-d(1px) solid $bg-grey;
      transition:
        background 0.5s,
        border-color 0.5s;
      background: none;
      text-transform: capitalize;
      color: $bg-grey;

      @include respond(lg) {
        padding: get-lg(9.5px) get-lg(20px);
        font-size: get-lg(14px);
        border-width: get-lg(1px);
      }

      @include respond(md) {
        padding: 9.5px 12px;
        font-size: 14px;
        border-width: 1px;
      }

      &.active {
        background: $bg-yellow !important;
        border-color: $bg-yellow !important;
      }
      &:hover {
        background: #f1e3be;
        transition: all 0.5s ease;
        cursor: pointer;
      }
    }
  }
}

.course-card {
  width: 100%;
  padding: get-d(20px);
  background: #ffffffbf;
  border-radius: get-d(10px);
  backdrop-filter: blur(54px);
  display: none;
  &.active {
    display: block;
  }
  @include respond(lg) {
    padding: get-lg(20px);
    border-radius: get-lg(10px);
  }
  @include respond(md) {
    padding: 20px;
    border-radius: 10px;
  }
  &--discount {
    font-weight: 700;
    font-size: get-d(14px);
    line-height: 120%;
    color: #08ae66;
    text-align: center;
    border-radius: 100vw;
    padding: get-d(6.5px) get-d(12px);
    background: #ffffff;
    width: max-content;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: get-d(4px);
    &::before {
      content: '';
      width: get-d(16px);
      height: get-d(16px);
      background: url('../svg/discount.svg') center / contain no-repeat;
      display: block;
    }
    @include respond(lg) {
      font-size: get-lg(14px);
      padding: get-lg(6.5px) get-lg(12px);
      grid-gap: get-lg(4px);
      &::before {
        width: get-lg(16px);
        height: get-lg(16px);
      }
    }
    @include respond(md) {
      font-size: 12px;
      padding: 6px 10px;
      grid-gap: 4px;
      &::before {
        width: 16px;
        height: 16px;
      }
    }
  }
  &__text {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
  }
  &--date {
    border-radius: 100vw;
    padding: get-d(6.5px) get-d(12px);
    background: #0000004d;
    backdrop-filter: blur(44px);
    font-weight: 500;
    font-size: get-d(14px);
    line-height: 120%;
    text-align: center;
    color: #ffffff;
    width: max-content;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    @include respond(lg) {
      font-size: get-lg(14px);
      padding: get-lg(6.5px) get-lg(12px);
    }
    @include respond(md) {
      font-size: 12px;
      padding: 6px 10px;
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  }
  &--certificated {
    align-items: center;
    border-radius: 100vw;
    padding: get-d(6.5px) get-d(12px);
    background: #fdc41f;
    backdrop-filter: blur(44px);
    font-weight: 500;
    font-size: get-d(14px);
    line-height: 120%;
    text-align: center;
    color: #302f34;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: get-d(4px);
    &::before {
      content: '';
      width: get-d(16px);
      height: get-d(16px);
      background: url('../svg/Certificate.svg') center / contain no-repeat;
      display: block;
    }
    @include respond(lg) {
      font-size: get-lg(14px);
      padding: get-lg(6.5px) get-lg(12px);
      grid-gap: get-lg(4px);
      &::before {
        width: get-lg(16px);
        height: get-lg(16px);
      }
    }
    @include respond(md) {
      font-size: 12px;
      padding: 6px 10px;
      grid-gap: 4px;
      &::before {
        width: 16px;
        height: 16px;
      }
    }
    &.is_discount {
      grid-column: 1 / -1;
    }
  }
  &--image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__header {
    position: relative;
    width: 100%;
    height: get-d(200px);
    border-radius: get-d(10px);
    overflow: hidden;
    padding: get-d(12px);
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-auto-rows: max-content;
    grid-gap: get-d(8px);
    justify-content: space-between;
    & img,
    & picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include respond(lg) {
      height: get-lg(200px);
      padding: get-lg(12px);
      grid-gap: get-lg(8px);
      border-radius: get-lg(10px);
    }
    @include respond(md) {
      height: 160px;
      padding: 12px;
      grid-gap: 8px;
      border-radius: 10px;
      grid-template-rows: max-content 1fr max-content;
      align-items: start;
    }
  }
  &--title {
    font-weight: 600;
    font-size: get-d(20px);
    line-height: 100%;
    margin-top: get-d(12px);
    color: #302f34;
    display: inline-block;
    @include respond(lg) {
      font-size: get-lg(20px);
      margin-top: get-lg(12px);
    }
    @include respond(md) {
      font-size: 18px;
      margin-top: 12px;
    }
  }
  &--description {
    font-weight: 400;
    font-size: get-d(14px);
    line-height: 140%;
    color: #302f34;
    margin-top: get-d(4px);
    display: inline-block;
    @include respond(lg) {
      font-size: get-lg(14px);
      margin-top: get-lg(4px);
    }
    @include respond(md) {
      font-size: 14px;
      margin-top: 4px;
    }
  }
  &__footer {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    grid-gap: get-d(8px);
    width: 100%;
    margin: get-d(10px) 0;
    align-items: center;
    @include respond(lg) {
      grid-gap: get-lg(8px);
      margin: get-lg(10px) 0;
    }
    @include respond(md) {
      grid-gap: 8px;
      margin: 8px 0;
      grid-template-rows: repeat(2, max-content);
    }
  }
  &--info {
    font-weight: 400;
    font-size: get-d(14px);
    line-height: 120%;
    color: rgba(#302f34, 70%);
    padding: get-d(12px) 0;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      width: get-d(16px);
      height: get-d(16px);
      background: url('../svg/info.svg') center / contain no-repeat;
      display: block;
      margin-right: get-d(4px);
      opacity: 0.7;
    }
    @include respond(lg) {
      font-size: get-lg(14px);
      padding: get-lg(12px) 0;
      &::before {
        width: get-lg(16px);
        height: get-lg(16px);
        margin-right: get-lg(4px);
      }
    }
    @include respond(md) {
      font-size: 14px;
      padding: 4px 0;
      &::before {
        width: 16px;
        height: 16px;
        margin-right: 4px;
        min-width: 16px;
        min-height: 16px;
      }
    }
  }
  &--old-price {
    font-weight: 500;
    font-size: get-d(18px);
    line-height: 120%;
    text-decoration: line-through;
    color: #9a9a9a;
    @include respond(lg) {
      font-size: get-lg(18px);
    }
    @include respond(md) {
      font-size: 18px;
    }
  }
  &--price {
    font-weight: 600;
    font-size: get-d(22px);
    line-height: 120%;
    color: #302f34;
    @include respond(lg) {
      font-size: get-lg(22px);
    }
    @include respond(md) {
      font-size: 20px;
    }
  }
  &--button {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: get-d(12px);
    width: 100%;
    @include respond(lg) {
      grid-gap: get-lg(12px);
    }
    @include respond(md) {
      grid-gap: 10px;
    }
    & .btn {
      padding: get-d(10px) get-d(20px);
      width: 100%;
      font-weight: 500;
      font-size: get-d(14px);
      line-height: get-d(20px);
      @include respond(lg) {
        padding: get-lg(10px) get-lg(20px);
        font-size: get-lg(14px);
        line-height: get-lg(20px);
      }
      @include respond(md) {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 20px;
        padding-right: 20px !important;
      }
      &:hover {
        transform: none !important;
      }
      &::before {
        display: none;
      }
      &.white {
        border: get-d(1px) solid #dbd6cb;
        color: #302f34;
        background: #fff;
        @include respond(lg) {
          border: get-lg(1px) solid #dbd6cb;
        }
        @include respond(md) {
          border: 1px solid #dbd6cb;
        }
      }
    }
  }
  &__master {
    padding: get-d(12px);
    background: #f7f1e0;
    border-radius: get-d(10px);
    width: 100%;
    margin-top: get-d(12px);
    & .stars {
      gap: get-d(4px);
      flex-wrap: wrap;
      @include respond(lg) {
        gap: get-lg(4px);
      }
      @include respond(md) {
        gap: 4px;
      }
      & span {
        margin: 0 !important;
        font-weight: 400 !important;
      }
    }
    & .star {
      width: get-d(16px);
      height: get-d(16px);
      min-width: get-d(16px);
      min-height: get-d(16px);
      background-image: url('../svg/material-symbols-light_star-shine\ copy\ 2.svg');
      @include respond(lg) {
        width: get-lg(16px);
        height: get-lg(16px);
        min-width: get-lg(16px);
        min-height: get-lg(16px);
      }
      @include respond(md) {
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
      }
    }
    &--info {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: get-d(24px);
      align-items: center;
    }
    &--name {
      font-weight: 500;
      font-size: get-d(16px);
      line-height: 120%;
    }
    &--wrapper {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: repeat(2, max-content);
      grid-gap: get-d(4px) get-d(10px);
      margin-bottom: get-d(12px);
      & img,
      & picture {
        width: get-d(44px);
        height: get-d(44px);
        border-radius: 50%;
        grid-row: 1 / 3;
        grid-column: 1 / 2;
      }
    }
    @include respond(lg) {
      padding: get-lg(12px);
      border-radius: get-lg(10px);
      margin-top: get-lg(12px);
      &--info {
        gap: get-lg(24px);
      }
      &--name {
        font-size: get-lg(16px);
      }
      &--wrapper {
        grid-gap: get-lg(4px) get-lg(10px);
        margin-bottom: get-lg(12px);
        & img,
        & picture {
          width: get-lg(44px);
          height: get-lg(44px);
        }
      }
    }
    @include respond(md) {
      padding: 10px;
      border-radius: 10px;
      margin-top: 8px;
      &--info {
        gap: 24px;
      }
      &--name {
        font-size: 16px;
      }
      &--wrapper {
        grid-gap: 4px 10px;
        margin-bottom: 8px;
        & img,
        & picture {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  &--days,
  &--seats {
    font-weight: 500;
    font-size: get-d(16px);
    line-height: 120%;
    display: inline-flex;
    align-items: center;
    gap: get-d(6px);
    @include respond(lg) {
      font-size: get-lg(16px);
      gap: get-lg(6px);
    }
    @include respond(md) {
      font-size: 14px;
      gap: 6px;
    }
    &::before {
      content: '';
      width: get-d(20px);
      height: get-d(20px);
      background: url('../svg/time.svg') center / contain no-repeat;
      display: block;
      @include respond(lg) {
        width: get-lg(20px);
        height: get-lg(20px);
      }
      @include respond(md) {
        width: 20px;
        height: 20px;
      }
    }
  }
  &--seats {
    &::before {
      background: url('../svg/people.svg') center / contain no-repeat;
    }
  }
}

.popup-details {
  position: fixed;
  width: get-d(930px);
  height: get-d(630px);
  opacity: 0;
  pointer-events: none;
  background: #f7f1e0;
  z-index: 10;
  top: 50%;
  left: 50%;
  border-radius: get-d(10px);
  transform: translate(-50%, -50%);
  padding: get-d(50px);
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-gap: get-d(30px);
  transition: opacity 0.5s;
  z-index: 100;
  @include respond(lg) {
    padding: get-lg(50px);
    grid-gap: get-lg(30px);
    width: get-lg(930px);
    height: get-lg(680px);
    border-radius: get-lg(10px);
  }
  @include respond(md) {
    padding: 50px 25px;
    grid-gap: 30px;
    grid-template-columns: 100%;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    border-radius: 0;
  }
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  &__close {
    position: absolute;
    width: get-d(30px);
    height: get-d(30px);
    top: get-d(20px);
    right: get-d(20px);
    cursor: pointer;
    background: url('../svg/oui_cross.svg') center / contain no-repeat;
    @include respond(lg) {
      width: get-lg(30px);
      height: get-lg(30px);
      top: get-lg(20px);
      right: get-lg(20px);
    }
    @include respond(md) {
      width: 30px;
      height: 30px;
      top: 20px;
      right: 20px;
    }
  }
  &--date {
    font-weight: 500;
    font-size: get-d(14px);
    line-height: 120%;
    text-align: center;
    padding: get-d(8px) get-d(12px);
    border: get-d(1px) solid #9a9a9a;
    border-radius: 100vw;
    @include respond(lg) {
      font-size: get-lg(14px);
      padding: get-lg(8px) get-lg(12px);
      border: get-lg(1px) solid #9a9a9a;
    }
    @include respond(md) {
      font-size: 14px;
      padding: 8px 12px;
      border: 1px solid #9a9a9a;
    }
  }
  &--title {
    font-weight: 500;
    font-size: get-d(36px);
    line-height: 120%;
    text-transform: capitalize;
    margin: get-d(16px) 0;
    @include respond(lg) {
      font-size: get-lg(36px);
      margin: get-lg(16px) 0;
    }
    @include respond(md) {
      font-size: 36px;
      margin: 16px 0;
    }
  }
  &__text {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto) 1fr auto;
    justify-items: start;
  }
  &__card {
    width: 100%;
    background: #ffffffb2;
    padding: get-d(12px);
    border-radius: get-d(12px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: get-d(8px);
    grid-auto-rows: max-content;
    height: max-content;
    @include respond(lg) {
      padding: get-lg(12px);
      border-radius: get-lg(12px);
      grid-gap: get-lg(8px);
    }
    @include respond(md) {
      padding: 12px;
      border-radius: 12px;
      grid-gap: 8px;
    }
    &--header {
      position: relative;
      grid-column: 1 / -1;
      width: 100%;
      border-radius: get-d(10px);
      overflow: hidden;
      padding: get-d(12px);
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-auto-rows: max-content;
      grid-gap: get-d(8px);
      justify-content: space-between;
      height: get-d(140px);
      @include respond(lg) {
        height: get-lg(140px);
        padding: get-lg(12px);
        grid-gap: get-lg(8px);
        border-radius: get-lg(10px);
      }
      @include respond(md) {
        height: 140px;
        padding: 12px;
        grid-gap: 8px;
        border-radius: 10px;
        grid-template-rows: max-content 1fr max-content;
      }
      & img,
      picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  &--discount {
    font-weight: 700;
    font-size: get-d(14px);
    line-height: 120%;
    color: #08ae66;
    text-align: center;
    border-radius: 100vw;
    padding: get-d(6.5px) get-d(12px);
    background: #ffffff;
    width: max-content;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: get-d(4px);
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      width: get-d(16px);
      height: get-d(16px);
      background: url('../svg/discount.svg') center / contain no-repeat;
      display: block;
    }
    @include respond(lg) {
      font-size: get-lg(14px);
      padding: get-lg(6.5px) get-lg(12px);
      grid-gap: get-lg(4px);
      &::before {
        width: get-lg(16px);
        height: get-lg(16px);
      }
    }
    @include respond(md) {
      font-size: 12px;
      padding: 6px 10px;
      grid-gap: 4px;
      &::before {
        width: 16px;
        height: 16px;
      }
    }
  }
  &--certificated {
    position: relative;
    z-index: 1;
    align-items: center;
    border-radius: 100vw;
    padding: get-d(6.5px) get-d(12px);
    background: #fdc41f;
    backdrop-filter: blur(44px);
    font-weight: 500;
    font-size: get-d(14px);
    line-height: 120%;
    text-align: center;
    color: #302f34;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: get-d(4px);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    &::before {
      content: '';
      width: get-d(16px);
      height: get-d(16px);
      background: url('../svg/Certificate.svg') center / contain no-repeat;
      display: block;
    }
    @include respond(lg) {
      font-size: get-lg(14px);
      padding: get-lg(6.5px) get-lg(12px);
      grid-gap: get-lg(4px);
      &::before {
        width: get-lg(16px);
        height: get-lg(16px);
      }
    }
    @include respond(md) {
      font-size: 12px;
      padding: 6px 10px;
      grid-gap: 4px;
      &::before {
        width: 16px;
        height: 16px;
      }
    }
    &.is_discount {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
  &--days {
    & span {
      &::before {
        content: '';
        width: get-d(16px);
        height: get-d(16px);
        background: url('../svg/time (1).svg') center / contain no-repeat;
        display: block;
        @include respond(lg) {
          width: get-lg(16px);
          height: get-lg(16px);
        }
        @include respond(md) {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  &--seats {
    & span {
      &::before {
        content: '';
        width: get-d(16px);
        height: get-d(16px);
        background: url('../svg/people-new.svg') center / contain no-repeat;
        display: block;
        @include respond(lg) {
          width: get-lg(16px);
          height: get-lg(16px);
        }
        @include respond(md) {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  &--days,
  &--seats {
    padding: get-d(10px);
    background: #ffffff;
    border-radius: get-d(10px);
    display: grid;
    grid-template-columns: 100%;
    grid-gap: get-d(6px);
    & span {
      font-weight: 400;
      font-size: get-d(14px);
      line-height: 120%;
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-gap: get-d(6px);
      align-items: center;
    }
    & b {
      font-weight: 500;
      font-size: get-d(16px);
      line-height: 120%;
    }
    @include respond(lg) {
      padding: get-lg(10px);
      border-radius: get-lg(10px);
      grid-gap: get-lg(6px);
      & span {
        font-size: get-lg(14px);
        grid-gap: get-lg(6px);
      }
      & b {
        font-size: get-lg(16px);
      }
    }
    @include respond(md) {
      padding: 10px;
      border-radius: 10px;
      grid-gap: 6px;
      & span {
        font-size: 12px;
        grid-gap: 6px;
      }
      & b {
        font-size: 14px;
      }
    }
  }
  &--rate {
    & .star {
      width: get-d(16px);
      height: get-d(16px);
      min-width: get-d(16px);
      min-height: get-d(16px);
      @include respond(lg) {
        width: get-lg(16px);
        height: get-lg(16px);
        min-width: get-lg(16px);
        min-height: get-lg(16px);
      }
      @include respond(md) {
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
      }
    }
  }
  &--trainer {
    padding: get-d(10px) get-d(10px) 0 get-d(10px);
    border-radius: get-d(10px);
    background: #ffffff;
    grid-column: 1 / -1;
    @include respond(lg) {
      padding: get-lg(10px) get-lg(10px) 0 get-lg(10px);
      border-radius: get-lg(10px);
    }
    @include respond(md) {
      padding: 10px 10px 0 10px;
      border-radius: 10px;
    }
  }
  &--trainer-label {
    font-weight: 400;
    font-size: get-d(14px);
    line-height: 120%;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: get-d(6px);
    align-items: center;
    margin-bottom: get-d(12px);
    &::before {
      content: '';
      width: get-d(16px);
      height: get-d(16px);
      background: url('../svg/t.svg') center / contain no-repeat;
      display: block;
    }
    @include respond(lg) {
      font-size: get-lg(14px);
      grid-gap: get-lg(6px);
      &::before {
        width: get-lg(16px);
        height: get-lg(16px);
      }
    }
    @include respond(md) {
      font-size: 12px;
      grid-gap: 6px;
      &::before {
        width: 16px;
        height: 16px;
      }
    }
  }
  &__master {
    border: get-d(2px) solid #f7f1e0;
    border-radius: get-d(10px);
    padding: get-d(10px) get-d(14px);
    margin-bottom: get-d(12px);
    @include respond(lg) {
      border: get-lg(2px) solid #f7f1e0;
      border-radius: get-lg(10px);
      padding: get-lg(10px) get-lg(14px);
      margin-bottom: get-lg(12px);
    }
    @include respond(md) {
      border: 2px solid #f7f1e0;
      border-radius: 10px;
      padding: 10px 14px;
      margin-bottom: 12px;
    }
    &--wrapper {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: repeat(2, max-content);
      grid-gap: get-d(4px) get-d(10px);
      @include respond(lg) {
        grid-gap: get-lg(4px) get-lg(10px);
      }
      @include respond(md) {
        grid-gap: 4px 10px;
      }
    }
    &--image,
    & img,
    & picture {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      width: get-d(40px);
      height: get-d(40px);
      border-radius: 50%;
      @include respond(lg) {
        width: get-lg(40px);
        height: get-lg(40px);
      }
      @include respond(md) {
        width: 40px;
        height: 40px;
      }
    }
    &--name {
      font-weight: 500;
      font-size: get-d(16px);
      line-height: 120%;
      @include respond(lg) {
        font-size: get-lg(16px);
      }
      @include respond(md) {
        font-size: 16px;
      }
    }
  }
  &--description {
    font-weight: 400;
    font-size: get-d(14px);
    line-height: 120%;
    margin-bottom: get-d(12px);
    @include respond(lg) {
      font-size: get-lg(14px);
      margin-bottom: get-lg(12px);
    }
    @include respond(md) {
      font-size: 14px;
      margin-bottom: 12px;
    }
  }
  &--info {
    font-weight: 400;
    font-size: get-d(14px);
    line-height: 120%;
    color: #302f34;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      width: get-d(16px);
      height: get-d(16px);
      background: url('../svg/info.svg') center / contain no-repeat;
      display: block;
      margin-right: get-d(4px);
    }
    @include respond(lg) {
      font-size: get-lg(14px);
      &::before {
        width: get-lg(16px);
        height: get-lg(16px);
        margin-right: get-lg(4px);
      }
    }
    @include respond(md) {
      font-size: 14px;
      &::before {
        width: 16px;
        height: 16px;
        margin-right: 4px;
        min-width: 16px;
        min-height: 16px;
      }
    }
  }
  &--bottom {
    background: #f7f1e0;
    padding: get-d(10px) get-d(14px);
    border-radius: get-d(10px);
    width: calc(100% + get-d(20px));
    margin-left: get-d(-10px);
    margin-right: get-d(-10px);
    @include respond(lg) {
      padding: get-lg(10px) get-lg(14px);
      border-radius: get-lg(10px);
      width: calc(100% + get-lg(20px));
      margin-left: get-lg(-10px);
      margin-right: get-lg(-10px);
    }
    @include respond(md) {
      padding: 10px 14px;
      border-radius: 10px;
      width: calc(100% + 20px);
      margin-left: -10px;
      margin-right: -10px;
    }
  }
  &--old-price {
    font-weight: 500;
    font-size: get-d(18px);
    line-height: 120%;
    text-decoration: line-through;
    color: #9a9a9a;
    @include respond(lg) {
      font-size: get-lg(18px);
    }
    @include respond(md) {
      font-size: 18px;
    }
  }
  &--price-label {
    font-weight: 500;
    font-size: get-d(16px);
    line-height: 120%;
    @include respond(lg) {
      font-size: get-lg(16px);
    }
    @include respond(md) {
      font-size: 16px;
    }
  }
  &--price-wrapper {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    align-items: center;
    grid-gap: get-d(8px);
    padding: get-d(5px) 0;
    @include respond(lg) {
      grid-gap: get-lg(8px);
      padding: get-lg(5px) 0;
    }
    @include respond(md) {
      grid-gap: 8px;
      padding: 5px 0;
    }
  }
  &--price {
    font-weight: 600;
    font-size: get-d(22px);
    line-height: 120%;
    color: #302f34;
    @include respond(lg) {
      font-size: get-lg(22px);
    }
    @include respond(md) {
      font-size: 20px;
    }
  }
  &--content {
    font-weight: 400;
    font-size: get-d(16px);
    line-height: 140%;
    @include respond(lg) {
      font-size: get-lg(16px);
    }
    @include respond(md) {
      font-size: 16px;
      margin-bottom: 24px;
    }
    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
      font-size: get-d(16px);
      line-height: 140%;
      @include respond(lg) {
        font-size: get-lg(16px);
      }
      @include respond(md) {
        font-size: 16px;
      }
    }
    & ul {
      padding-left: get-d(16px);
      @include respond(lg) {
        padding-left: get-lg(16px);
      }
      @include respond(md) {
        padding-left: 16px;
      }
    }
  }
}
